@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 0 72% 51%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 72% 51%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 0 72% 51%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 0 72% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Vertical Scrollbar */
::-webkit-scrollbar {
  width: 10px;  /* Vertical scrollbar width */
  height: 8px;  /* Horizontal scrollbar height */
}

/* Horizontal Scrollbar */
::-webkit-scrollbar:horizontal {
  height: 8px;  /* Makes horizontal scrollbar thinner */
}

/* Scrollbar Thumb - Applies to both */
::-webkit-scrollbar-thumb {
  background-color: #980404;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Horizontal Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #484548;
}

/* Vertical Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #484548;
}

/* Track - Applies to both */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

/* Hide scrollbar buttons for both */
::-webkit-scrollbar-button {
  display: none;
}

